<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8" />

    <title>OSCO — Склад</title>

    <link rel="stylesheet" href="/style.css" />

</head>

<body>

    <div class="nav">

        <a class="nav-link" href="/admin">
            📦 Заказы
        </a>

        <a class="nav-link" href="/admin/clients">
            👥 Клиенты
        </a>

       <a class="nav-link" href="/admin/history">
            📜 История действий
       </a>

        <a class="nav-link active" href="/admin/warehouse">
            📦 Склад
        </a>

    </div>


    <div class="left" style="width:95%;margin:auto;">

        <h1>📜 Склад</h1>

        <table>

            <thead>

         

            </thead>

            <tbody id="warehouseTable"></tbody>

        </table>

    </div>




</body>
</html>